:root {

    --dark-grey: #333333;
    --light-grey: #808080;
    --yellow: #FFB612;
    --red: #dc0a17;
    --green: #2FC022;
}


@font-face {
    font-family: 'Gabarito';
    src: url('assets/fonts/Gabarito/Gabarito-Black.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gabarito_Normal';
    src: url('assets/fonts/Gabarito/Gabarito-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gabarito_Bold';
    src: url('assets/fonts/Gabarito/Gabarito-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}